[Unit]
Description=log exporter for Graylog

[Service]
Type=simple
WorkingDirectory=/mnt/disk1/PySender/pysender
ExecStart=/mnt/disk1/PySender/pysender/firestart.py

[Install]
WantedBy=multi-user.target
