[Unit]
Description=log exporter for Graylog

[Service]
Type=simple
WorkingDirectory=/home/eorochena/GitHub/PySender/pysender
ExecStart=/home/eorochena/GitHub/PySender/pysender/firestart.py

[Install]
WantedBy=multi-user.target
